/* Montserrat Regular (400) */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/montserrat-v26-latin-regular.woff2") format("woff2");
}

/* Montserrat Semi-Bold (600) */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/montserrat-v26-latin-600.woff2") format("woff2");
}

/* Montserrat Bold (700) */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/montserrat-v26-latin-700.woff2") format("woff2");
}

/* JetBrains Mono Regular (400) */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/jetbrains-mono-v18-latin-regular.woff2") format("woff2");
}

/* JetBrains Mono Semi-Bold (600) */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/jetbrains-mono-v18-latin-600.woff2") format("woff2");
}
